<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="connectionSettings" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <connectionSettings>
    <add key="IpServer" value="91.213.233.139:45617"/>
  </connectionSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>
</configuration>
