.classname
{
   background-color:#808080; 
   border-color:#000000; 
   color:#000000; 
   font-family:Arial; 
   font-weight:bold; 
   font-style:italic;
   font-size:20px; 
}

.Text3
{
   background-color:#808080; 
   border-color:#000000; 
   color:#000000; 
   font-family:Arial; 
   font-weight:bold; 
   font-style:italic;
   font-size:20px; 
}